CRFs.csv
tmp.geojson
airpact-for-firebase/AIRPACT5_CENSE_2020-05-15.csv
airpact-for-firebase/AIRPACT5_CENSE_2020-07-02.nc
airpact-for-firebase/AIRPACT5_CENSE.py
airpact-for-firebase/CRFs.csv
airpact-for-firebase/generateCENSEmapsForFirebase_netCDF.py
airpact-for-firebase/generateCENSEmapsForFirebase.py
airpact-for-firebase/GRIDCRO2D
airpact-for-firebase/requirements.txt
airpact-for-firebase/zipcodes.txt
airpact-for-firebase/__pycache__/AIRPACT5_CENSE.cpython-37.pyc
airpact-for-urbanova/airpact.py
airpact-for-urbanova/createGeoJSON.py
airpact-for-urbanova/GRIDCRO2D
airpact-for-urbanova/retrieveAIRPACTboundingBox.py
airpact-for-urbanova/tmp.geojson
airpact-for-urbanova/zipcodes.txt
airpact-for-urbanova/__pycache__/airpact.cpython-37.pyc
ExtractKFBC/Notes.md
KalmanFilter/AIRPACT_KalmanFilter_json.py
KalmanFilter/AIRPACT_KalmanFilter.py
KalmanFilter/airpact5_KF_pm25toGeoJSON.py
KalmanFilter/airpact5_KF_pm25toGeoJSON.py.txt
KalmanFilter/airpact5_KF_pm25toNetCDF.py
KalmanFilter/airpact5_KF_pm25toNetCDF.py.txt
KalmanFilter/PM25_24hr_BiasCorrected_2020090800_CubicInterpolation.png
KalmanFilter/PM25_24hr_BiasCorrected_2020090800_GaussianKriging.png
KalmanFilter/PM25_24hr_BiasCorrected_2020090800_LinearKriging.png
KalmanFilter/PM25_24hr_BiasCorrected_2020090800_new.ncf
KalmanFilter/PM25_24hr_BiasCorrected_2020090800.ncf
KalmanFilter/qsub4run_ncl_KFBC_PM25_20200908.csh
MonitorSiteExtraction/AIRNowSites_20200923_v10.dat
MonitorSiteExtraction/AIRNowSites_20200929_v9_PM.dat
MonitorSiteExtraction/AIRNowSites_20200929_v10_PM.dat
MonitorSiteExtraction/Monitor site air-act forecast extraction.eml
MonitorSiteExtraction/README
MonitorSiteExtraction/run_site_extract_airpact_v9.csh
MonitorSiteExtraction/site_extract_nuia.py
MonitorSiteExtraction/site_extract_v9.f90
MonitorSiteExtraction/site_extract.py
MonitorSiteExtraction/.ipynb_checkpoints/AIRNowSites_20200923_v10-checkpoint.dat
MonitorSiteExtraction/.ipynb_checkpoints/site_extract-checkpoint.py
